{% extends "base.html" %}
{% block title %}
    Tickets
{% endblock title %}
{% block content %}
    <h1 class="mb-4">Tickets</h1>
    {% if ticket_list %}
        <div class="row">
            {% for ticket in ticket_list %}
                <div class="col-sm-6 py-3">
                    <div class="card h-100 {{ ticket.status_class }}">
                        <div class="card-header">
                            <strong class="mt-1">{{ ticket.ticket_title }}</strong>
                            <span class="badge bg-primary text-white p-1">{{ ticket.completion_status }}</span>
                                {% if ticket.is_completed %}
                                    <span class="badge badge-success">Completed</span>
                                {% else %}
                                    <span class="badge badge-secondary">Open</span>
                                    <a href="{% url 'ticket_complete' ticket.pk %}" class="btn btn-link btn-sm text-success">Mark as complete</a>
                                {% endif %}
                            {% if user.is_authenticated %}
                                {% if user.is_superuser or ticket.author_id == user.id %}
                                    <a href="{% url 'ticket_edit' ticket.pk %}" class="btn btn-link btn-sm">Edit</a>
                                    <a href="{% url 'ticket_delete' ticket.pk %}" class="btn btn-link btn-sm text-danger">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p>
                                <strong>Title:</strong> {{ ticket.title }}
                            </p>
                            <p>
                                <strong>Ticket detail:</strong> {{ ticket.body }}
                            </p>
                            <p>
                                <strong>Assigned to:</strong> {{ ticket.author }}
                            </p>
                            <p>
                                <strong>Raised on:</strong> {{ ticket.date }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tickets to display.</p>
    {% endif %}
{% endblock content %}
